config/config.yml
config/deploy.rb
config/deploy/production.rb
log/*
site/config/config.php
site/logs/*
site/public/media/avatars/*
site/public/media/previews/*
site/public/media/originals/*
site/public/media/covers/*
site/public/tmp/*
