// Layout

@mixin display-table() {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@mixin display-table-row() {
  display: table-row;
}
@mixin display-table-cell() {
  display: table-cell;
  vertical-align: top;
}

@mixin flex-container($gutter) {
  display: flex;
  flex-flow: row wrap;
  margin: 0 (-$gutter);
}
@mixin flex-col($gutter) {
  display: block;
  flex: 1 1 0%;
  margin: 0;
  padding: 0 $gutter $gutter*2;
}
@mixin flex-width($width) {
  flex-basis: $width;
  max-width: $width;
}

// Transitions & Animations

@mixin hyphens($value) {
  -webkit-hyphens: $value;
  -ms-hyphens: $value;
  hyphens: $value;
}

@mixin transition($attr) {
  -o-transition: $attr;
  -moz-transition: $attr;
  -webkit-transition: $attr;
  transition: $attr;
}

@mixin transition-normal($what) {
  @include transition($what $speed-normal $easing);
}

// Styles

@mixin floating-bg() {
  background: rgba(20,37,68,0.8);
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;

  box-shadow: rgba(0,0,0,0.3) 0 4px 8px;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;

}

// Elements

@mixin range() {
  --thumb-height: 1.375em;
  --track-height: 0.125em;
  --track-color: #444;
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.0125em;
  --thumb-width: 0.5em;

  color: $color-light;

  position: relative;
  background: #ccc0;
  overflow: hidden;

  &,
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    position: relative;
  }

  &::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    clip-path: polygon(
                    100% -1px,
                    var(--clip-edges) -1px,
                    0 var(--clip-top),
                    -100vmax var(--clip-top),
                    -100vmax var(--clip-bottom),
                    0 var(--clip-bottom),
                    var(--clip-edges) 100%,
                    var(--clip-further) var(--clip-further)
    );
  }

  &:hover::-webkit-slider-thumb {
    cursor: grab;
  }

  &:active::-webkit-slider-thumb {
    cursor: grabbing;
  }

  &::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);

  }

  &:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }

  /* === Firefox specific styles === */
  &,
  &::-moz-range-track,
  &::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  &::-moz-range-track,
  &::-moz-range-thumb,
  &::-moz-range-progress {
    background: #ccc0;
  }

  &::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
  }

  &:active::-moz-range-thumb {
    cursor: grabbing;
  }

  &::-moz-range-track {
    width: 100%;
    background: var(--track-color);
  }

  &::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
  }

  &::-moz-range-track,
  &::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
  }

  &::-moz-range-thumb,
  &::-moz-range-progress {
  }

  &:hover::-moz-range-thumb,
  &:hover::-moz-range-progress {
  }

  &:active::-moz-range-thumb,
  &:active::-moz-range-progress {
  }

  &:disabled::-moz-range-thumb {
    cursor: not-allowed;
  }

}





// Selectors
@mixin input-element-text-like {
  input[type=url],
  input[type=email],
  input[type=text],
  input[type=tel],
  input[type=number],
  input[type=password],
  textarea {
    @content;
  }
}
@mixin input-element-box-like {
  select,
  input[type=url],
  input[type=email],
  input[type=text],
  input[type=tel],
  input[type=number],
  input[type=password],
  textarea {
    @content;
  }
}

// Hacks

@mixin ie11-only {
  @media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    @content;
  }
}

@mixin moz-only {
  @-moz-document url-prefix() {
    @content;
  }
}

// thx to https://stackoverflow.com/a/25975282/1191375
@mixin safari-only {
  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) {
    @content;
  }}
}