header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;

  .col {
    display: flex;
    align-items: center;

    &.col-middle {
      justify-content: center;
      h1 {
        margin: 0;
        a {
          display: block;
          padding-top: 10px;
          img {
            height: 70px;
            transform: translate(-15px, 20px);
          }
        }
      }

    }


    &.col-left,
    &.col-right {
      a {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: $color-light;
        @include transition(all $speed-slowish $easing);

        svg {
          display: block;
          width: 35px;
          transform: translate(-13px, 2px);
        }

        &:hover {
          color: $color-main;
          @include transition(all $speed-faster $easing);
        }
      }
    }

    &.col-left {
      justify-content: flex-start;
    }
    &.col-right {
      justify-content: flex-end;

      a {
        svg {
          width: 30px;
          transform: translate(13px, 2px);
        }
      }
    }

  }

  @media (max-width: 420px) {
    .col {
      &.col-left {
        a {
          svg {
            transform: translate(-13px, 0);
          }
        }
      }
      &.col-middle {
        h1 {
          a {
            padding-top: 0;
            img {
              height: 60px;
              transform: translate(-10px, 20px);
            }
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .col {
      &.col-left {
        a {
          svg {
            transform: translate(-13px, 2px);
          }
        }
      }
      &.col-middle {
        h1 {
          a {
            padding-top: 0;
            img {
              height: 50px;
            }
          }
        }
      }
    }
  }
}