.player {
  display: none;
  position: fixed;
  bottom: 20px;

  width: calc(100% + 22px);
  max-width: calc(min(var(--site-width), 100%) - 20px);

  margin: 0 -11px;

  @include user-select(none);

  .columns {
    display: grid;
    height: 60px;
    grid-template-columns: 57px 1fr 55px;
    z-index: 10;

    border-radius: 30px;

    @include floating-bg;
    @include transition(border-radius $speed-fast $easing);

    > .col {
      display: block;

      &.col-play-pause {
        display: grid;
        place-items: center;
        color: $color-light;

        justify-content: flex-start;
        padding-left: 6px;

        .icon {
          svg {
            display: block;
            width: 48px;
            height: 48px;
          }
        }
        .icon-pause {
          display: none;
        }
      }

      &.col-timeline {
        display: grid;
        grid-template-columns: 60px 1fr 60px;
        grid-gap: 2px;
        align-items: center;
        font-size: 14px;

        .current-time {
          text-align: right;
          padding-right: 10px;
        }
        .timeline-wrap {
          .input-current-time {
            height: 58px;
          }
        }
        .overall-time {
          text-align: left;
          padding-left: 10px;
          cursor: pointer;
        }

      }

      &.col-settings {
        display: grid;
        align-items: center;
        color: $color-light;

        justify-content: flex-end;
        padding-right: 20px;

        .icon {
          svg {
            display: block;
            width: 22px;
            height: 22px;
          }

        }

      }
    }
  }


  .settings {



    display: block;
    position: absolute;
    right: 0;
    top: calc(-100% - 21.7px);
    padding: 10px 10px 10px 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 14px;
    pointer-events: none;

    @include user-select(none);
    @include floating-bg;

    box-shadow: none;



    transform-origin: 0 100%;
    transform: translateY(100%);
    opacity: 0;
    @include transition(all $speed-fast $easing);



    .row {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }

    .setting-checkbox {
      display: grid;
      grid-template-columns: 1fr 50px;
      grid-gap: 10px;
      align-items: center;
      cursor: pointer;

      > .col {
        &.col-label {
          svg {
            display: inline-block;
            transform: translateY(1.5px);
            margin-right: 3px;
          }
          span {
            display: inline-block;
          }
        }
        &.col-checkbox {
          line-height: 0;
        }
      }

      .switch {
        position : relative ;
        display : inline-block;
        width : 50px;
        height : 25px;
        background-color: #aaa;
        border-radius: 25px;
        cursor: pointer;
        @include transition(all $speed-fast $easing);
      }

      .switch::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: #fff;
        top: 2px;
        left: 2px;
        @include transition(all $speed-fast $easing);
      }
      .checkbox:checked + .switch::after {
        left : 27px;
      }
      .checkbox:checked + .switch {
        background-color: $color-main;
        @include transition(all $speed-fast $easing);
      }
      .checkbox {
        display : none;
      }
    }

    @media (max-width: #{$small-player-breakpoint}) {
      top: calc(-100% - 31.7px);
    }

  }

  &.playing {
    .columns {
      > .col {
        &.col-play-pause {
          .icon-play {
            display: none;
          }
          .icon-pause {
            display: block;
          }
        }
      }
    }

  }

  &.settings-open {
    .columns {
      border-top-right-radius: 0;
      @include transition(border-radius $speed-fast $easing);
    }


    .settings {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
      @include transition(all $speed-fast $easing);
    }
  }

  @media (max-width: #{$small-player-breakpoint}) {
    width: calc(100% + 20px);
    margin: 0 -10px;

    > .columns {
      grid-template-columns: 41px 1fr 40px;

      height: 50px;

      bottom: 10px;

      > .col {
        &.col-play-pause {
          justify-content: flex-start;
          padding-left: 5px;

          .icon {
            svg {
              display: block;
              width: 38px;
              height: 38px;
            }
          }
          .icon-pause {
            display: none;
          }
        }

        &.col-timeline {
          font-size: 13px;

          .current-time {
            padding-right: 7px;
          }

          .overall-time {
            padding-left: 7px;
          }
        }

        &.col-settings {
          justify-content: flex-end;
          padding-right: 15px;
          .icon {
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

  }

}

