.page-movies {

  .content {
    padding-top: 3px;
  }

  .movies-filter {
    margin: 0 0 20px 0;

    > .row {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      grid-gap: 10px;

      > .col {
        &.col-left {
          .setting-checkbox {
            display: grid;
            grid-template-columns: 50px auto;
            grid-gap: 10px;
            align-items: center;
            justify-content: start;

            > .col-label {
              label {
                cursor: pointer;
              }
            }
            > .col-checkbox {
              line-height: 0;
            }

            .switch {
              position: relative;
              display: inline-block;
              width: 50px;
              height: 25px;
              background-color: #aaa;
              border-radius: 25px;
              cursor: pointer;
              @include transition(all $speed-fast $easing);
            }

            .switch::after {
              content: '';
              position: absolute;
              width: 21px;
              height: 21px;
              border-radius: 50%;
              background-color: #fff;
              top: 2px;
              left: 2px;
              @include transition(all $speed-fast $easing);
            }
            .checkbox:checked + .switch::after {
              left: 27px;
            }
            .checkbox:checked + .switch {
              background-color: $color-main;
              @include transition(all $speed-fast $easing);
            }
            .checkbox {
              display: none;
            }
          }
        }

        &.col-right {
          opacity: 0.7;
          font-size: 14px;
        }
      }
    }
  }

  .pagination {
    display: table;
    width: 100%;
    margin: 40px 0 20px 0;

    .col {
      display: table-cell;
      vertical-align: top;
    }
    .col .link-wrap {
      display: inline-block;
      height: 40px;
      width: 60px;
    }
    .col .link-wrap a {
      position: relative;
      display: block;
      height: 40px;
    }
    .col .link-wrap a svg {
      position: absolute;
      top: 13px;
      left: 20px;
      color: #b3b3bf;
      @include transition(color 250ms ease-out);
    }
    .col .link-wrap a:hover svg {
      color: $color-main;
      @include transition(color 13ms ease-out);
    }
    .col .link-wrap a span {
      display: none;
    }
    .col.col-prev {
      text-align: right;
    }
    .col.col-prev .link-wrap a svg {
      right: 20px;
      left: auto;
    }
    .col.col-next {
      text-align: left;
    }
    .col.col-all {
      width: 50px;
    }
    .col.col-all select {
      width: 100%;
      height: 40px;
      -webkit-appearance: none;
      border: none;
      color: $color-text;
      font-size: 16px;
      line-height: 40px;
      font-family: inherit;
      text-align: center;
      text-align-last: center;
      outline: none;
      background: $color-blue-subtle;
      border-radius: 10px;
      padding-top: 1px;
      cursor: pointer;
      @include transition(color 250ms ease-out);
    }
    .col.col-all select:hover {
      color: $color-main;
      @include transition(all 13ms ease-out);
    }
  }

  .info {
    padding: 10px;
    margin: 0 auto 40px auto;
    max-width: 575px;
    border-radius: $border-radius;
    background: $color-blue-subtle;
  }

  .movies {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px 20px;

    .movie {

      a {
        display: block;
        > .inner {
          display: grid;
          grid-template-columns: 90px 1fr;
          grid-gap: 15px;
          border-radius: $border-radius + 10px;
          padding: 10px;
        }

        color: $color-text;
        font-weight: normal;


        border-radius: $border-radius + 10px;

        @include transition(all $speed-slowish $easing);

        &:hover {
          > .inner {
            background: $color-blue-subtle;
          }
          transform: scale(1.02);
          @include transition(all $speed-faster $easing);
        }

        @media (max-width: 370px) {
          grid-template-columns: 80px 1fr;
        }
      }

      &.is-in-future:not(.is-running) {

        opacity: 0.5;

      }

      &.is-running {

        a {
          padding: 3px;
          background: red;

          /* rotating rainbox radial gradient */
            background: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
            background-size: 400% 400%;
            animation: rainbow 10s linear infinite;


          > .inner {
            background: $color-bg;
            border-radius: $border-radius + 7px;

          }

          &:hover {
            > .inner {
                background: #11213B;
            }
          }


        }

      }

        @keyframes rainbow {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
        }




      .col {
        &.col-cover {
          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: $border-radius;
          }
        }
        &.col-content {
          display: flex;
            flex-direction: column;
            justify-content: space-between;

          .top {

          }

          .bottom {

          }

          .title {
            margin: 0 0 10px 0;
            white-space: nowrap;
            .name {
              white-space: normal;
              font-size: 26px;
              font-weight: bold;
              color: $color-main;
              @include transition-normal(font-size);

              @media (max-width: 433px) {
                font-size: 24px;
                @include transition-normal(font-size);
              }
            }

          }
          .meta {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .start_datetime {


          }
        }
      }


      &.is-secondary-feature a {

        position: relative;
        &:after {
          content: "";
          width: 32px;
          height: 32px;
          position: absolute;
          top: -5px;
          left: -5px;
          background: url(/img/wrongfrog.png) no-repeat center center;
          background-size: 32px;
          transform: rotate(-20deg);
          @include transition(all $speed-slowish $easing);
        }
      }
      &.is-secondary-feature a:hover {
        &:after {
          transform: rotate(-30deg);
          @include transition(all $speed-faster $easing);
        }
      }
    }

  }
}