.page-movies {

  .content {
    padding-top: 3px;
  }

  .info {
    padding: 10px;
    margin: 0 auto 40px auto;
    max-width: 670px;
    border-radius: $border-radius;
    background: $color-blue-subtle;
    @include hyphens(auto);
  }

  .movies {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px 20px;

    .movie {

      a {
        display: block;
        > .inner {
          display: grid;
          grid-template-columns: 90px 1fr;
          grid-gap: 15px;
          border-radius: $border-radius + 10px;
          padding: 10px;
        }

        color: $color-text;
        font-weight: normal;


        border-radius: $border-radius + 10px;

        @include transition(all $speed-slowish $easing);

        &:hover {
          > .inner {
            background: $color-blue-subtle;
          }
          transform: scale(1.02);
          @include transition(all $speed-faster $easing);
        }

        @media (max-width: 370px) {
          grid-template-columns: 80px 1fr;
        }
      }

      &.is-in-future {

      }

      &.is-running {

        a {
          padding: 3px;
          background: red;

          /* rotating rainbox radial gradient */
            background: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
            background-size: 400% 400%;
            animation: rainbow 10s linear infinite;


          > .inner {
            background: $color-bg;
            border-radius: $border-radius + 7px;

          }

          &:hover {
            > .inner {
                background: #11213B;
            }
          }


        }

      }

        @keyframes rainbow {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
        }




      .col {
        &.col-cover {
          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: $border-radius;
          }
        }
        &.col-content {
          display: flex;
            flex-direction: column;
            justify-content: space-between;

          .top {

          }

          .bottom {

          }

          .title {
            margin: 0 0 10px 0;
            white-space: nowrap;
            .name {
              white-space: normal;
              font-size: 26px;
              font-weight: bold;
              color: $color-main;
              @include transition-normal(font-size);

              @media (max-width: 433px) {
                font-size: 24px;
                @include transition-normal(font-size);
              }
            }

          }
          .meta {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .start_datetime {


          }
        }
      }
    }

  }
}